# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
backend/exports/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Bot
bot/node_modules/
bot/dist/
bot/.env
bot/.env.*
